<!DOCTYPE html>
<html>
<head>
    <title>Warden's Journal</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div id="hud">HP: <span id="hp">20</span> | Stamina: <span id="stamina">10</span> | Focus: <span id="focus">10</span></div>
    <div id="app">
        <canvas id="battleMap" width="500" height="500"></canvas>
        <div id="terminal">
            <div id="narrativeOutput"></div>
            <input type="text" id="playerInput" placeholder="What is your intent?">
        </div>
    </div>
    <script src="/static/battlemap.js"></script>
    <script src="/static/terminal.js"></script>
</body>
</html>
